body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    width: 80%; /* Adjust width as needed */
}

header {
    text-align: center;
    margin-bottom: 10px; /* Reduced bottom margin */
    margin-top: 10px; /* Reduced top margin */
}

h1 {
    margin-top: 0;
    margin-bottom: 5px;
}

p {
    margin-top : 5px;
    margin-bottom: 5px;
}

.progress-bar {
    width: 100%; /* Make the progress bar span the full width */
    height: 10px;
    background-color: #eee;
    border-radius: 5px;
    position: relative; /* Add position: relative to the progress bar */
}

.exercise-container {
    margin-bottom: 20px;
    width: 100%; /* Make the exercise container span the full width */
}

.question {
    font-size: 1.2em;
    margin-bottom: 5px;
    margin-top: 10px;
}

.options {
    display: flex;
    flex-direction: column;
    width: 100%; /* Make the options container span the full width */
    align-items: center; /* Center the button horizontally */
}

.ordered-words {
    display: flex;
    align-items: center;
    padding: 5px;
    border: 1px solid black;
    width: 100%; /* Make the ordered words container span the full width */
    text-align: left;
    border-radius: 5px; /* Rounded corners */
    background-color: #e8e8e8; /* Slightly darker gray */
    margin-bottom: 10px; /* Add spacing between divs */
    flex-wrap: wrap; /* Added flex-wrap */
}

.disordered-words {
    display: flex;
    align-items: center;
    padding: 5px;
    border: 1px solid black;
    width: 100%; /* Make the disordered words container span the full width */
    text-align: left;
    border-radius: 5px; /* Rounded corners */
    margin-bottom: 10px; /* Add margin-bottom to disordered-words */
    flex-wrap: wrap; /* Added flex-wrap */
}

.options button {
    padding: 10px;
    margin-bottom: 2px; /* Reduced spacing between button and feedback */
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    width: 50%; /* Adjust width as needed */
    /*display: block;
    margin-left: auto;
    margin-right: auto; */ /* Center the button horizontally */
}

.feedback {
    font-size: 1.1em;
    margin-top: 5px;
    text-align: center;
}

input[type="text"] {
  width: 100%; /* Adjust width as needed */
  margin-bottom: 10px; /* Add spacing between input and button */
  padding: 10px; /* Add padding to the input */
  height: 15px; /* Increase the height of the input */
  border: 1px solid #ccc; /* Add a border to the input */
  border-radius: 5px; /* Add rounded corners to the input */
}

.incorrecto {
    font-weight: bold;
    color: red;
}
.correcto {
    font-weight: bold;
    color: #4CAF50;
}

main {
    width: 100%; /* Make the main element span the full width */
}

.ordered-words button,
.disordered-words button {
    background-color: white; /* Changed to white */
    border: 2px solid black;
    white-space: nowrap; /* Prevent word wrapping */
    padding: 5px 10px; /* Adjust padding as needed */
    width: fit-content; /* Changed from min-width */
    color: black; /* Add color for the text */
    margin: 0 5px; /* Add margin between buttons */
    margin-bottom: 5px; /* Added margin-bottom */
}

.hidden {
    display: none;
}

.class-label { /* Add style for the class-label span */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}
